.SA1_CP1{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#00ff00 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA1_CP1::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA1_CP2{
    position: relative;
    padding: 2px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #00ff00 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA1_CP3{
    position: relative;
    padding: 2px !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA1_PV1{
    position: relative;
}



/* *********************************************************************** */

.SA2_CP1{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#2A98DE 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA2_CP1::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA2_CP2{
    position: relative;
    padding: 2px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #2A98DE 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA2_CP3{
    position: relative;
    padding: 2px !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA2_PV1{
    position: relative;
}





/* *********************************************************************** */

.SA3_CP1{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#D8004F 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA3_CP1::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA3_CP2{
    position: relative;
    padding: 2px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #D8004F 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA3_CP3{
    position: relative;
    padding: 2px !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA3_PV1{
    position: relative;
}



/* *********************************************************************** */

.SA4_CP1{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#9500D7 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA4_CP1::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA4_CP2{
    position: relative;
    padding: 2px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #9500D7 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA4_CP3{
    position: relative;
    padding: 2px !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA4_PV1{
    position: relative;
}

/* *********************************************************************** */

.SA5_CP1{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#7367FF 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA5_CP1::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA5_CP2{
    position: relative;
    padding: 2px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #7367FF 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA5_CP3{
    position: relative;
    padding: 2px !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA5_PV1{
    position: relative;
}

/* *********************************************************************** */

.SA6_CP1{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#FF7A00 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA6_CP1::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA6_CP2{
    position: relative;
    padding: 2px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #FF7A00 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA6_CP3{
    position: relative;
    padding: 2px !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA6_PV1{
    position: relative;
}