
.overViewDate{
    font-size: 10px;
    font-weight: 300;
}
.OverViewCards{
    min-height: 100px;
    box-shadow: 0px 0px 35px -13px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #FFFFFF;
}
.circular-progress{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#FFF500 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-progress::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}
.darkProgress::before{
    background-color: rgba(30,32,41, 1);
}

.circular-progress2{
    position: relative;
    padding: 2px !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #FFF500 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-progress3{
    position: relative;
    padding: 2px !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.progress-value{
    position: relative;
}
.OV_skinType{
    text-decoration: none;
    color: #FFF500;
    font-weight: 700;
    font-weight: 500;
}
.OV_darkSpot{
    color: #FF1800;
    text-decoration: none;
    font-weight: 500;
}
.OV_wrinlkes{
    color: #38D800;
    text-decoration: none;
    font-weight: 500;
}
.OV_openPores{
    color: #38D800;
    text-decoration: none;
    font-weight: 500;
}
.OV_darkCircles{
    color: #FFF500;
    text-decoration: none;
    font-weight: 500;
}
.OV_pigmentation{
    color: #FFF500;
    text-decoration: none;
    font-weight: 500;
}
.OV_acne{
    color: #FFF500;
    text-decoration: none;
    font-weight: 500;
}
.poorIcon{
    width: 10px;
    height: 10px;
    background-color: #FF1800;
}
.moderateIcon{
    width: 10px;
    height: 10px;
    background-color: #FF7A00;
}
.goodIcon{
    width: 10px;
    height: 10px;
    background-color: #FFF500;
}
.excellentIcon{
    width: 10px;
    height: 10px;
    background-color: #38D800;
}

.poorText{
    font-size: 10px;
}
.moderateText{
    font-size: 10px;
}
.goodText{
    font-size: 10px;
}
.excellentText{
    font-size: 10px;
}

.poorCategory{
    color: #FF1800;
}
.moderateCategory{
    color: #FF7A00;
}
.goodCategory{
    color: #FFF500;
}
.excellentCategory{
    color: #38D800;
}
.excellentOverview{
    background: conic-gradient(#00000000 0deg, #38D800 0deg);
}
.goodOverview{
    background: conic-gradient(#00000000 0deg, #FFF500 0deg);
}
.moderateOverview{
    background: conic-gradient(#00000000 0deg, #FF7A00 0deg);
}
.poorOverview{
    background: conic-gradient(#00000000 0deg, #FF1800 0deg);
}