.SA_texts{
    font-size: 10px;
    font-weight: 400;
}

.featDiv:hover{
    background-color: #ffffff;
    border-radius: 11px;
}
.featDivDark:hover{
    background-color: #1E2029 !important;
    border-radius: 11px;
}
.tipRem{
    background-color: #00000000;
    border-radius: 20px;
    color: #ededed;
    font-size: xx-small;
}
.tipRemDark{
    background-color: #00000000;
    border-radius: 20px;
    color: #1E1E1E;
    font-size: xx-small;
}
.featDiv:hover .tipRem{
    background-color: #000000;
    border-radius: 20px;
    color: #ededed;
    font-size: xx-small;
    display: block;
}
.featDivDark:hover .tipRem{
    background-color: #000000;
    border-radius: 20px;
    color: #ededed;
    font-size: xx-small;
    display: block;
}
.featDiv:hover .remArrow{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #D8004F;
    cursor: pointer;
}
.featDivDark:hover .remArrow{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #D8004F;
    cursor: pointer;
}
.tipRemText{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.SA1_CP1{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#00ff00 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA1_CP1::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA1_CP2{
    position: relative;
    padding: 2px !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #00ff00 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA1_CP3{
    position: relative;
    padding: 2px !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA1_PV1{
    position: relative;
}



/* *********************************************************************** */

.SA2_CP1{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#2A98DE 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA2_CP1::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA2_CP2{
    position: relative;
    padding: 2px !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #2A98DE 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA2_CP3{
    position: relative;
    padding: 2px !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA2_PV1{
    position: relative;
}





/* *********************************************************************** */

.SA3_CP1{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#D8004F 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA3_CP1::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA3_CP2{
    position: relative;
    padding: 2px !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #D8004F 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA3_CP3{
    position: relative;
    padding: 2px !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA3_PV1{
    position: relative;
}



/* *********************************************************************** */

.SA4_CP1{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#9500D7 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA4_CP1::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA4_CP2{
    position: relative;
    padding: 2px !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #9500D7 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA4_CP3{
    position: relative;
    padding: 2px !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA4_PV1{
    position: relative;
}

/* *********************************************************************** */

.SA5_CP1{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#7367FF 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA5_CP1::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA5_CP2{
    position: relative;
    padding: 2px !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #7367FF 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA5_CP3{
    position: relative;
    padding: 2px !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA5_PV1{
    position: relative;
}

/* *********************************************************************** */

.SA6_CP1{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#FF7A00 18.2deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SA6_CP1::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.SA6_CP2{
    position: relative;
    padding: 2px !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #FF7A00 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SA6_CP3{
    position: relative;
    padding: 2px !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00000000 0deg, #ffffff 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SA6_PV1{
    position: relative;
}