.bor {
  /* border: 2px solid red; */
}
.tipRemBody {
  background-color: #ffffff;
  border-radius: 11px;
}

.nav-pills {
  background-color: #eceef5;
  border-radius: 24px;
}
.nav-link {
  color: #000000;
  width: 120px;
}
.nav-link:hover {
  color: inherit;
  cursor: pointer;
}
.activeClass {
  background-color: #000000 !important;
  color: #ffffff;
  border-radius: 24px !important;
}
.activeClass:hover {
  color: #ffffff;
}

.remBack {
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.cpTips {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: conic-gradient(#00ff00 18.2deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cpTips::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.darkProgresscpTips::before {
  background-color: rgba(30, 32, 41, 1);
}

.cp2Tips {
  position: relative;
  padding: 2px !important;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(#00000000 0deg, #00ff00 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cp3Tips {
  position: relative;
  padding: 2px !important;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: conic-gradient(#00000000 0deg, #ffffff 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pvTips {
  position: relative;
}

.tipRemNote {
  background: #eceef5;
  border-radius: 8px;
}
